<extend name="Public:base" />

<block name="body">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$business_type_name}管理</h5>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-8 m-b-xs">
                            <a href="javascript:void(0)" url="{:U('add', array('type'=>$business_type))}" rel="" title="添加{$business_type_name}" class="btn btn-sm btn-primary my-popup"> 添加{$business_type_name} </a>

                            <a href="javascript:history.go(0)" class="btn btn-sm btn-primary"> 刷新 </a>

                             <!--<a href="javascript:history.go(-1)" class="btn btn-sm btn-primary"> 返回上一步 </a>-->
                        </div>
                        <form action="{:U('index?'.$paramstr)}" method="get">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="请输{$business_type_name}名称" class="input-sm form-control" name="keywords" value="{$param['keywords']|default=''}"> <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>名称</th>
                                <th>等级</th>
                                <th>结算方式</th>
                                <th>结算日期</th>
                                <th>期初应付/收款</th>
                                <th>期初预付/收款</th>
                                <th>联系人姓名</th>
                                <th>联系人电话</th>
                                <th>商家地址</th>
                                <th>商家描述</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="_list" id="vo">
                                <tr>
                                    <td>
                                        <div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                                    </td>
                                    <td>{$vo['name']}</td>
                                    <td>{$business_level[$vo['level']]}</td>
                                    <td>{$settlement_type[$vo['settlement_type']]}</td>
                                    <td>{$vo['settlement_date']}</td>
                                    <td>{$vo['st_receive_money']}</td>
                                    <td>{$vo['st_period_receive_money']}</td>
                                    <td>{$vo['contact_name']}</td>
                                    <td>{$vo['contact_mobile']}</td>
                                    <td>{$vo['address']}</td>
                                    <td>{$vo['memo']}</td>
                                    <td>{$vo['created_at']}</td>
                                    <td>{$vo['updated_at']}</td>
                                    <td>

                                            <!--<button class="btn btn-default btn-circle" type="button"><i class="fa fa-check"></i>
                                            </button>
                                            <button class="btn btn-primary btn-circle" type="button"><i class="fa fa-list"></i>
                                            </button>
                                            <button class="btn btn-info btn-circle" type="button"><i class="fa fa-check"></i>
                                            </button>-->
                                            <a href="javascript:void(0)" url="{:U('edit', array('type'=>$business_type, 'id'=>$vo['id']))}" class="btn btn-success btn-circle my-popup"><i class="fa fa-link"></i>
                                            </a>
                                            <a href="{:U('delete', array('type'=>$business_type, 'ids'=>$vo['id']))}" class="btn btn-warning btn-circle ajax-get confirm"><i class="fa fa-times"></i>
                                            </a>

                                            <!--
                                            <button class="btn btn-danger btn-circle" type="button"><i class="fa fa-heart"></i>
                                            </button>
                                            <button class="btn btn-danger btn-circle btn-outline" type="button"><i class="fa fa-heart"></i>
                                            </button>
                                            -->

                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</block>